.algorithm-step {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  &.enter {
    opacity: 0;
  }

  &.enter-active {
    opacity: 1;
    transition: all ease-out 1s;
  }

  &.exit {
    opacity: 1;
  }

  &.exit-active {
    transition: all ease-in 1s;
    opacity: 0;
  }

  .step-cubes {
    display: flex;
    flex-wrap: wrap;
    .step-cube {
      display: flex;
      width: 80px;
      height: 80px;
    }
  }

  .view-box {
    background-color: black;
  }

  .footer {
    display: flex;

    button {
      color: white;
    }

    .next-button {
      margin-left: auto;
    }
  }
}
