:root {
  --circle-line: 7vh;
  --default-font-size: 2vh;
}

.window {
  background-color: black;
  height: 100vh;
  width: 46vh;
  position: relative;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  z-index: 10000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeOut 3s ease-out forwards;
  img {
    width: 85%;
    padding: 0;
    margin: 0;
  }
  .alignRight {
    text-align: right;
  }
  .alignLeft {
    text-align: left;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.slideInBottom1 {
  animation: slideInBottom 2s ease-in-out forwards;
}

@keyframes slideInBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  40% {
    transform: translateY(0);
    opacity: 1;
  }
  60% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
    visibility: hidden;
  }
}

.slideInBottom2 {
  animation: slideInBottom 2s ease-in-out 0.1s forwards;
}
@keyframes slideInBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  40% {
    transform: translateY(0);
    opacity: 1;
  }
  60% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
    visibility: hidden;
  }
}

/* ここからhome pageのcss */
.homeSpace {
  padding-top: 10%;
  padding-bottom: 10%;
  img {
    width: 40%;
  }
}
.square {
  width: 60%;
  margin: 20% 0;
}
p {
  color: white;
  font-size: var(--default-font-size);
  .spanHeader {
    font-weight: bold;
    font-size: calc(var(--default-font-size) * 1.5);
    padding-bottom: var(--default-font-size);
  }
}

.circle {
  border: solid 2px white;
  width: var(--circle-line);
  height: var(--circle-line);
  border-radius: 50%;
  margin: 10% auto;
}
