:root {
  --circle-line: 7vh;
  --default-font-size: 2vh;
  --default-hight: 100%;
}
/*  */
.start-animation {
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: var(--default-height);
  /* background-color: red; */
  /* background-color: black; */
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .align-left {
    text-align: center;
  }

  .align-right {
    text-align: start;
  }

  &.enter {
    & > p {
      transform: translateY(150px);
      opacity: 0;
    }
  }

  &.enter-active {
    & > p {
      transform: translateY(0);
      opacity: 1;
      transition: all ease-out 0.8s;
      &.align-right {
        transition-delay: 0.2s;
      }
    }
  }

  &.exit {
    & > p {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &.exit-active {
    & > p {
      transform: translateY(-150px);
      transition: all ease-in 0.8s;
      opacity: 0;

      &.align-right {
        transition-delay: 0.2s;
      }
    }
  }

  p {
    width: 100%;
    text-align: center;
    height: 4%;

    img {
      scale: 1.3;
    }
  }
}


/* .slide-in-bottom1 {
  animation: slideInBottom 2s ease-in-out forwards;
  .enter-active {
    opacity: 1;
    transition: opacity 10s;
  }
} */

@keyframes slideInBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  40% {
    transform: translateY(0);
    opacity: 1;
  }
  60% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
    visibility: hidden;
  }
}

/* .slide-in-bottom2 {
  animation: slideInBottom 2s ease-in-out 0.1s forwards;
} */

/* ここからhome pageのcss */
.home-space {
  min-height: 100vh;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .cube-clarity {
    width: 40%;
  }
  .title-logo {
    height: 10vh;
  }

  &.enter {
    opacity: 0;
  }

  &.enter-active {
    opacity: 1;
    transition: all ease-out 1s;
  }

  &.exit {
    opacity: 1;
  }

  &.exit-active {
    transition: all ease-in 1s;
    opacity: 0;
  }
}

.square {
  height: 30vh;
  margin: 5vh 0;
}

.text {
  margin: 0;
  padding: 0;
  height: 10vh;
  color: white;
  font-size: var(--default-font-size);
  .span-header {
    font-weight: bold;
    font-size: calc(var(--default-font-size) * 1.5);
    padding-bottom: var(--default-font-size);
  }
}
/* p {
} */

.circle {
  padding: 0;
  margin: 6vh auto;
  border: solid 2px white;
  height: 8vh;
  width: 8vh;
  /* width: var(--circle-line);
  height: var(--circle-line); */
  border-radius: 50%;
}

.loading-page {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  &.enter {
    opacity: 0;
  }

  &.enter-active {
    opacity: 1;
    transition: all ease-out 1s;
  }

  &.exit {
    opacity: 1;
  }

  &.exit-active {
    transition: all ease-in 1s;
    opacity: 0;
  }
}
